Repository NhaLeTruc/cass-cdc-pg: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-md-in-docs, check-credentials

enforce-md-in-docs:
  name: Enforce .md files in docs/ directory
  entry: python .git-hooks/enforce_md_location.py
  language: python
  pass_filenames: true
  stages:
  - commit

check-credentials:
  name: Check for hardcoded credentials
  entry: python .git-hooks/check_credentials.py
  language: python
  pass_filenames: true

Revert "[Spec] Claude.md added"
  CLAUDE.md
Due: none

Revert "[Spec] specs and tasks added"
  specs/001-cass-cdc-pg/checklists/requirements.md
  specs/001-cass-cdc-pg/contracts/api/admin-api.yaml
  specs/001-cass-cdc-pg/contracts/data-models/change_event.py
  specs/001-cass-cdc-pg/contracts/events/change-event.avsc
  specs/001-cass-cdc-pg/data-model.md
  specs/001-cass-cdc-pg/plan.md
  specs/001-cass-cdc-pg/quickstart.md
  specs/001-cass-cdc-pg/research.md
  specs/001-cass-cdc-pg/spec.md
  specs/001-cass-cdc-pg/tasks.md
Due: check-credentials

Revert "[Spec] constitution added"
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
Due: none

Restart from 0
  README.md
Due: none

[Spec] New constitution added
  .specify/memory/constitution.md
Due: none

[Spec] New Spec and Plan added
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  CLAUDE.md
  specs/001-cass-cdc-pg/checklists/requirements.md
  specs/001-cass-cdc-pg/contracts/kafka-topics.md
  specs/001-cass-cdc-pg/contracts/rest-api.md
  specs/001-cass-cdc-pg/data-model.md
  specs/001-cass-cdc-pg/plan.md
  specs/001-cass-cdc-pg/quickstart.md
  specs/001-cass-cdc-pg/research.md
  specs/001-cass-cdc-pg/spec.md
Due: none

[Spec] Add reconciliation feature
  .specify/scripts/bash/check-prerequisites.sh
  specs/001-cass-cdc-pg/contracts/reconciliation-api.md
  specs/001-cass-cdc-pg/plan.md
  specs/001-cass-cdc-pg/tasks.md
Due: none

[Spec] New plan finalized
  specs/001-cass-cdc-pg/data-model.md
  specs/001-cass-cdc-pg/plan.md
  specs/001-cass-cdc-pg/spec.md
  specs/001-cass-cdc-pg/tasks.md
Due: none

[AI] phase 1 setup completed
  .env.example
  .gitignore
  .pre-commit-config.yaml
  .yamllint.yaml
  Makefile
  README.md
  pyproject.toml
  src/__init__.py
  src/api/__init__.py
  src/api/routes/__init__.py
  src/config/__init__.py
  src/connectors/__init__.py
  src/connectors/transforms/__init__.py
  src/models/__init__.py
  src/monitoring/__init__.py
  src/repositories/__init__.py
  src/services/__init__.py
  src/utils/__init__.py
  tests/__init__.py
  tests/contract/__init__.py
  tests/integration/__init__.py
  tests/unit/__init__.py
Due: check-credentials

[AI] phase 2 foundational completed
  docker-compose.yml
  docker/cassandra/Dockerfile
  docker/cassandra/enable-cdc.sh
  docker/cassandra/init-schema.cql
  docker/kafka/create-topics.sh
  docker/monitoring/grafana/datasources.yml
  docker/monitoring/prometheus-alerts.yml
  docker/monitoring/prometheus.yml
  docker/postgres/Dockerfile
  docker/postgres/init-db.sql
  docker/vault/config.hcl
  docker/vault/policies/cdc-policy.hcl
  specs/001-cass-cdc-pg/tasks.md
  src/config/logging_config.py
  src/config/settings.py
  src/monitoring/health_check.py
  src/monitoring/metrics.py
  src/monitoring/tracing.py
  src/repositories/base.py
  src/utils/circuit_breaker.py
  src/utils/retry.py
  src/utils/validators.py
  tests/conftest.py
Due: check-credentials

[AI] phase 3 MVP completed
  docker/cassandra/init-schema.cql
  docker/connectors/cassandra-source.json
  docker/connectors/deploy-connectors.sh
  docker/connectors/postgres-sink.json
  docker/postgres/init-db.sql
  docker/schema-registry/register-schemas.sh
  specs/001-cass-cdc-pg/tasks.md
  src/connectors/transforms/timestamp_conflict_resolver.py
  src/models/__init__.py
  src/models/change_event.py
  src/models/checkpoint.py
  src/models/schema_metadata.py
  src/monitoring/metrics.py
  src/repositories/cassandra_repository.py
  src/repositories/postgresql_repository.py
  src/repositories/vault_repository.py
  src/services/schema_service.py
  src/services/type_mapper.py
  tests/contract/test_change_event_schema.py
  tests/contract/test_kafka_topics.py
  tests/integration/test_cassandra_to_kafka.py
  tests/integration/test_end_to_end_replication.py
  tests/integration/test_kafka_to_postgres.py
  tests/integration/test_out_of_order_events.py
  tests/integration/test_ttl_preservation.py
Due: check-credentials

[AI] phase 4 Local Dev Env completed
  Dockerfile.api
  docker-compose.yml
  scripts/generate_test_data.py
  scripts/health-check-cassandra.sh
  scripts/health-check-kafka.sh
  scripts/health-check-postgres.sh
  scripts/health-check-vault.sh
  scripts/setup_local_env.sh
  specs/001-cass-cdc-pg/quickstart.md
  specs/001-cass-cdc-pg/tasks.md
  tests/integration/test_checkpoint_resume.py
  tests/integration/test_docker_health.py
  tests/integration/test_resource_limits.py
Due: check-credentials

[AI] phase 5 schema evo completed
  docker-compose.yml
  specs/001-cass-cdc-pg/tasks.md
  tests/integration/test_schema_add_column.py
  tests/integration/test_schema_drop_column.py
  tests/integration/test_schema_incompatible.py
  tests/integration/test_schema_type_change.py
Due: check-credentials

[AI] phase 6-7 observability & error handling completed
  docker/monitoring/grafana/dashboards/cdc-pipeline.json
  docker/monitoring/prometheus-alerts.yml
  specs/001-cass-cdc-pg/tasks.md
  src/api/main.py
  src/api/routes/dlq.py
  src/api/routes/health.py
  src/api/routes/metrics.py
  src/models/dlq_record.py
  src/repositories/postgresql_repository.py
  src/services/dlq_service.py
  tests/contract/test_health_api.py
  tests/contract/test_metrics_api.py
  tests/integration/test_crash_recovery.py
  tests/integration/test_dlq_replay.py
  tests/integration/test_dlq_routing.py
  tests/integration/test_logging.py
  tests/integration/test_retry_logic.py
  tests/integration/test_tracing.py
Due: check-credentials

[AI] phase 8 creds mana completed
  docker/vault/init-secrets.sh
  docker/vault/policies/cdc-policy.hcl
  pyproject.toml
  specs/001-cass-cdc-pg/tasks.md
  src/config/settings.py
  src/config/tls_config.py
  tests/integration/test_credential_rotation.py
  tests/integration/test_no_secrets_in_logs.py
  tests/integration/test_vault_credentials.py
Due: check-credentials

[AI] Phase 9 tests TDD
  tests/integration/test_reconciliation_alerts.py
  tests/integration/test_reconciliation_checksum.py
  tests/integration/test_reconciliation_metrics.py
  tests/integration/test_reconciliation_row_count.py
  tests/integration/test_reconciliation_scheduled.py
Due: check-credentials

[AI] Phase 9 docker setup
  docker-compose.yml
  docker/monitoring/alertmanager.yml
  docker/monitoring/grafana/dashboards/reconciliation.json
  docker/monitoring/prometheus-alerts.yml
  docker/monitoring/prometheus.yml
Due: check-credentials

[AI] Phase 9 API updates
  docs/reconciliation-quickstart.md
  docs/reconciliation.md
  specs/001-cass-cdc-pg/tasks.md
  src/api/main.py
  src/api/routes/gdpr.py
  src/api/routes/reconciliation.py
Due: check-credentials

[AI] Phase 9 completed
  src/models/reconciliation_job.py
  src/models/reconciliation_mismatch.py
  src/repositories/reconciliation_repository.py
  src/services/alert_service.py
  src/services/reconciliation_engine.py
  src/services/reconciliation_scheduler.py
Due: check-credentials

[AI] Phase 10 completed
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  README.md
  docs/architecture.md
  docs/deployment-checklist.md
  docs/runbooks/connector-failure.md
  docs/runbooks/high-consumer-lag.md
  docs/runbooks/schema-mismatch.md
  docs/runbooks/vault-sealed.md
  specs/001-cass-cdc-pg/tasks.md
Due: check-credentials

[AI] Phase 10 stub K8s actually done
  helm/.helmignore
  helm/Chart.yaml
  helm/README.md
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/templates/hpa.yaml
  helm/templates/networkpolicy.yaml
  helm/templates/poddisruptionbudget.yaml
  helm/templates/secret.yaml
  helm/templates/service.yaml
  helm/templates/serviceaccount.yaml
  helm/templates/servicemonitor.yaml
  helm/values.yaml
  scripts/README-benchmark.md
  scripts/benchmark.py
Due: enforce-md-in-docs, check-credentials

[CheckPoint] 6 issues fixes and 20 improvements
  .dockerignore
  .github/workflows/security-scan.yml
  .github/workflows/type-check.yml
  .gitignore
  IMPROVEMENTS.md
  Makefile
  docs/adr/001-use-debezium-for-cdc.md
  docs/troubleshooting.md
  helm/values.yaml
  pyproject.toml
  scripts/benchmark.py
  src/api/routes/health.py
  src/middleware/__init__.py
  src/middleware/rate_limit.py
  src/middleware/request_id.py
  src/monitoring/health_check.py
  src/repositories/base.py
Due: enforce-md-in-docs, check-credentials

[Test] Fix docker-compose cmd error
  Makefile
  README.md
  docs/reconciliation-quickstart.md
  docs/runbooks/connector-failure.md
  docs/runbooks/high-consumer-lag.md
  docs/runbooks/vault-sealed.md
  scripts/setup_local_env.sh
  specs/001-cass-cdc-pg/quickstart.md
  specs/001-cass-cdc-pg/research.md
  specs/001-cass-cdc-pg/spec.md
  specs/001-cass-cdc-pg/tasks.md
  tests/conftest.py
  tests/contract/test_health_api.py
  tests/integration/test_checkpoint_resume.py
  tests/integration/test_docker_health.py
  tests/integration/test_resource_limits.py
Due: check-credentials

[Test] Fix setup scripts
  Makefile
  docker-compose.yml
  scripts/health-check-cassandra.sh
  scripts/health-check-kafka-connect.sh
  scripts/health-check-vault.sh
  scripts/setup_local_env.sh
Due: check-credentials

[Test] Fix tests setup
  Makefile
  poetry.lock
  pyproject.toml
  src/services/reconciliation_engine.py
Due: check-credentials

[Test] Fix hang tests v0.0
  poetry.lock
  pyproject.toml
  tests/integration/conftest.py
  tests/integration/test_cassandra_to_kafka.py
  tests/integration/test_checkpoint_resume.py
  tests/integration/test_crash_recovery.py
  tests/integration/test_dlq_replay.py
  tests/integration/test_dlq_routing.py
  tests/integration/test_end_to_end_replication.py
  tests/integration/test_kafka_to_postgres.py
  tests/integration/test_out_of_order_events.py
  tests/integration/test_retry_logic.py
  tests/integration/test_schema_add_column.py
  tests/integration/test_schema_drop_column.py
  tests/integration/test_schema_incompatible.py
  tests/integration/test_schema_type_change.py
  tests/integration/test_ttl_preservation.py
Due: check-credentials

[Test] Fix test errors
  pyproject.toml
  tests/contract/test_health_api.py
  tests/contract/test_metrics_api.py
  tests/integration/conftest.py
  tests/integration/test_docker_health.py
  tests/integration/test_no_secrets_in_logs.py
  tests/integration/test_reconciliation_alerts.py
  tests/integration/test_reconciliation_checksum.py
  tests/integration/test_reconciliation_metrics.py
  tests/integration/test_reconciliation_row_count.py
  tests/integration/test_reconciliation_scheduled.py
  tests/integration/test_resource_limits.py
  tests/integration/test_ttl_preservation.py
Due: check-credentials

[Cassandra] Install CDC Agent v0.0
  docker-compose.yml
  docker/cassandra/Dockerfile
  docker/cassandra/debezium-cassandra.properties
  docker/cassandra/start-debezium-agent.sh
  docker/kafka-connect/Dockerfile
  tests/integration/test_docker_health.py
  tests/integration/test_no_secrets_in_logs.py
  tests/integration/test_resource_limits.py
Due: check-credentials

[Cassandra] debezium agent FAILED
  docker-compose.yml
  docker/cassandra/Dockerfile
  docker/cassandra/cassandra-driver.conf
  docker/cassandra/debezium-cassandra.properties
  docker/cassandra/start-debezium-agent.sh
  docker/debezium-server/config/application.properties
Due: check-credentials

[Security] Fix Log and SQLInject Vul
  src/api/routes/gdpr.py
  src/services/alert_service.py
  src/services/reconciliation_engine.py
  src/services/reconciliation_scheduler.py
Due: check-credentials

[Final] Project failures docs
  docker/api/Dockerfile.api
  docs/API_MISSING_FEATURES_ANALYSIS.md
  docs/CASSANDRA_CDC_CONNECTOR_FINDINGS.md
  docs/IMPROVEMENTS.md
Due: none

[Admin] turn off schedule sec scan
  .github/workflows/security.yml
Due: check-credentials

Path conditions:
  enforce-md-in-docs: any of: \.md$, but not: ^(README\.md|CLAUDE\.md|docs/.*\.md|\.specify/.*\.md|specs/.*\.md)$
  check-credentials: any of: \.(py|yaml|yml|json|env|conf|cfg|ini|toml)$, but not: ^(\.pre-commit-config\.yaml|\.secrets\.baseline)$
